<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="person" class="com.paromita.person.Person">
		<property name="name" value="Paromita">
		</property>
	</bean>
	<bean id="helloYou" class="com.paromita.hello.HelloYou">
		<property name="you" ref="person" />
	</bean>
 
</beans>